s8_motoC_test_data.txt
s8_motoC_train_data.txt
s8_motoC_test_data_2.txt
s8_motoC_train_data_2.txt
s8_motoC_test_data_3.txt
s8_motoC_train_data_3.txt
s8_motoC_test_data_4.txt
s8_motoC_train_data_4.txt
s8_motoC_test_data_5.txt
s8_motoC_train_data_5.txt
s8_motoC_test_data_6.txt
s8_motoC_train_data_6.txt
s8_motoC_test_data_7.txt
s8_motoC_train_data_7.txt
